/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html,body{
  width:100%;
  height:100%;
  background-color:#274873;
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover,.navbar-default .navbar-nav > li > a,.navbar-brand,.navbar{
  color:#fff;
  background-color:#BE0C25;
  border-color:#BE0C25;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
  background-color:#fff;
  color:#BE0C25;
}
#map-canvas {
  margin-left: 50px;
  margin-right:50px;
  padding: 0px;
  height:70%;
}
.whity{
  color:#fff;
}
